<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>403/Forbidden</title>
</head>
<body>

<div th:replace="header"></div>


    <div>
        <h1 style="margin: 0 auto; width: max-content">403 / Forbidden</h1>
        <div style="margin: 0 auto; width: max-content" th:inline="text">You do not have permission to access this page.</div>
    </div>


</body>
</html>